@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --bg-color: #f1f1f1;
    --main-color: #008da2;
    --second-color: #48b77d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: poppins;
    font-weight: 500;
}
body {
    background: var(--bg-color);
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;    
}
.container {
    width: 1200px;
    background-color: var(--bg-color);
    padding: 50px 30px;
}

/* Menu de sélection */
.tabs {
    display: flex;
    position: relative;
    width: 100%;
}
.tab {
    position: relative;
    background: var(--main-color);

    padding: 20px 30px;
    margin-right: 5px;
    top: 0;

    width: 25%;
    border-radius: 30px 30px 30px 0;

    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    border: 2px solid transparent;
    transition: all 0.4s ease-out;
}
.tab:hover {
    filter: brightness(1.2);
    letter-spacing: 1px;
}
.tab.active {
    background: var(--second-color);
    top: -10px;
    border: 2px solid var(--main-color);
}

/* .tab:nth-child(1) {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
}
.tab:nth-child(1) span {
    margin-right: 20px;
}
.tab:nth-child(2), .tab:nth-child(3) {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.tab:nth-child(2) span, .tab:nth-child(3) span {
    margin-left: 10px;
}
.tab:nth-child(4) {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.tab:nth-child(4) span {
    margin-left: 20px;
} */

.tab span {
    pointer-events: none;
    user-select: none;
}

.tab .step-number {
    display: none;
}

/* Contenu */
.contents {
    background: var(--second-color);
    position: relative;
    margin-top: 20px;
    padding: 20px 40px;
    min-height: 300px;

    border: 5px solid var(--main-color);
    border-radius: 30px 30px 30px 0;
}

.content {
    position: relative;
    left: 0;
    top: -30px;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    padding: 30px 40px;
    display: none;
    text-align: center;
    transition: height 5s ease-out;
}
.content::after {
    content: '';
    position: absolute;
    height: 120px;
    width: 5px;

    background-color: var(--main-color);

    top: 30px;
    left: 35%;
    /* transform: translateX(-50%); */
}
.content::before {
    content: '';
    position: absolute;
    height: 120px;
    width: 5px;

    background-color: var(--main-color);

    top: 30px;
    left: 63%;
    /* transform: translateX(-50%); */
}

.content.active {
    display: block;
}
.contents .content img {
    position: relative;
    width: 200px;
    border-radius: 30px;
    margin-bottom: 30px;
}


/* tableau !! */

table {
    background: var(--main-color);
    padding: 15px 30px;
    width: 100%;
    border-radius: 30px;
}

table caption {
    margin-bottom: 20px;
}

table thead tr th {
    width: 50%;
    font-weight: 600;

    border: 2px solid var(--bg-color);
    border-radius: 30px 30px 0 0;

    padding: 15px 15px;
}
table thead tr th:first-child {
    width: 30%;
}

.tab1 tbody tr td{
    border: 2px solid var(--bg-color);
    padding: 20px 10px;
    font-size: 16px;
    font-weight: 400;
}
.tab1 tbody tr td:first-child{
    font-size: 18px;
    font-weight: 600;
}


@media screen and (max-width: 1000px) {
    .container {
      width: 800px;
      margin: 50px 0;
    }
    .contents .content img {        
        top: 20px;
    }
    .tab {
      font-size: 16px;
    }
    
    .content {
      padding: 0px;
    }   
    
    .content-text {
      font-size: 22px;
    }
    .content::after, .content::before {
        display: none;
    }
  }
  
  @media screen and (max-width: 750px) {
    table thead tr th {
        padding: 10px 5px;
        font-size: 14px;
    }

  }
      

  @media screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
    .tab {
        padding: 10px 0;
    }
    
    .tab .step-number {
      display: block;
    }
    
    .tab .step-title {
      display: none;
    }
    
    .contents {
      min-height: 500px;
      padding: 20px 0;
    }
        
    .content-text {
      font-size: 18px;
    }
    table thead tr th {
        font-weight: 300;   
    }
    .tab1 {
        padding:10px 5px;
    }
    
    .tab1 tbody tr td{
        border: 1px solid var(--bg-color);
        padding: 10px 5px;
        font-size: 14px;
        font-weight: 400;
    }
    .tab1 tbody tr td:first-child{
        font-size: 16px;
        font-weight: 500;
    }
    .container {
        width: 100%;
        padding: 20px 0;
    }
    
 }
